.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card.product {
  position: relative;
  width: 24%;
  height: 24rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card.product img {
  width: 100%;
  height: 67%;
  object-fit: cover;
  border-radius: 5px;
}

.product-info {
  margin-top: 10px;
}

.product-info h6 {
  margin: 0;
  font-size: 1rem;
}

.price {
  color: #4f46e5;
  font-weight: bold;
}

.stars {
  color: #facc15;
}

.heart {
  position: absolute;
  top: 70%;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: red;
  user-select: none;
}

.edit-btn {
  padding: 5px 10px;
  font-size: 0.85rem;
  border: none;
  border-radius: 4px;
  background-color:#E2EAF8;
  color: black;
  cursor: pointer;
  width: 7rem;

}
