.orders-container {
  background: #f4f6fa;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
}


.filter-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-bar .filter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 11rem;
  background: #F9F9FB;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 0;
}

.filter-bar .filter-item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.filter-bar .filter-item:last-child {
  border-right: 1px solid #ddd;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.filter-bar .reset-btn {
  background: transparent;
  color: #ff4d4f;
  border: none;
  cursor: pointer;
}

.filter-item input,
.filter-item select,
.filter-item button {
  border: none;
  outline: none;
  box-shadow: none;
  background: #F9F9FB;
  padding: 8px 12px;
  border-radius: 6px;
}
.filter-item input{
  width: 100%;
}
table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

table th,
table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

table th {
  background: #fafafa;
  font-weight: 600;
}

.sortable {
  cursor: pointer;
}


.status {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  width: 90px;
  display: block;
  text-align: center;
}

.Completed {
  background: #e6f7f1;
  color: #00a86b;
}

.Processing {
  background: #f3e8ff;
  color: #7b61ff;
}

.Rejected {
  background: #ffe6e6;
  color: #ff4d4f;
}

.On\ Hold {
  background: #fff3e0;
  color: #ff9800;
}


.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination-controls {
  display: flex;
}

.nav-btn {
  width: 36px;
  height: 36px;
  border: 1px solid #e5e7eb;
  background: white;
  cursor: pointer;
  border-radius: 0;
}

.nav-btn.prev {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nav-btn.next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
